.containerInvoices{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  width: 90%;
  margin-top: 16px;
}

.contentInvoices{
  width: 50%;
  height: 46vh;

  padding: 12px;
  border-radius: 8px;

  color: #ffffff;
  background-color: #111827;
}