.profileUser {
  display: flex;
  flex-direction: column;
  border-radius: 12px;

  align-self: flex-start; 
  
  margin-bottom: 26px;
  color: #ffffff;
  background-color: #1e1f29;
}

.profileHeader{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;

  width: 100%;
  height: 80px;
  border-radius: 12px 12px 0 0;

  background-color: #3b52d3;
}

/* Card interno */
.profileCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  gap: 12px; 
  margin: 12px;
  padding: 16px;
}

/* Cabeçalho com foto + nome */
.profileHeaderCard {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.profileImage img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3b52d3;
}

.profileInfo h4 {
  margin: 0;
  margin-top: 6px;
  font-size: 20px;
  font-weight: 600;
}
.profileInfo p {
  margin: 2px 0;
  font-size: 0.76rem;
  color: #b5b5b5;
}

/* Subcards: Próxima cirurgia e Status */
.profileSubCardMain{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  gap: 12px;
  
  padding: 8px;
  border-radius: 12px;
  background-color: #2d2e39;
}

.profileSubCard {
  display: flex;
  flex-direction: column;

  flex: 1 1 150px;
  min-width: 140px;
}
.profileSubCard h5 {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
.profileSubCard p {
  margin: 0;
  font-size: 0.85rem;
  color: #b5b5b5;
}
.profileSubCard h5,
.profileSubCard p {
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Select do status */
.profileSubCardStatus{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding: 0 12px 0 12px;
  margin-top: 12px;
  border-radius: 12px;
  background-color: #1e1f29;
}
.profileSubCardStatus select {
  border: none;
  outline: none;
  cursor: pointer;

  color: #ffffff;
  margin-top: 9px;
  background: transparent;
}
.profileSubCardStatus select option {
  background-color: #2d2e39;
  color: #ffffff;
}