.gerenciadorContainer {
  display: flex;
  flex-direction: column; /* Empilha os itens verticalmente */
}

.postOperativeList {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem para a linha seguinte */
}

.postOperativeButtonNew {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start; /* Ajuste conforme o alinhamento que deseja */
}
